@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #060e28;
}

.container {
  position: relative;
  width: 1410px;
  margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/dots';
@import 'blocks/header';
@import 'blocks/promo';

@import 'blocks/media';
