*{
  font-family: sans-serif;
}
body{
  background: #060e28;
}
.container {
  position: relative;
  width: 1410px;
  margin: 0 auto;
}
#planets {
    width: 1200px;
    overflow: hidden;
    position: absolute;
    top: -48px;
    right: 0;
    z-index: -1;
}

@import 'blocks/buttons';
@import 'blocks/dots';
@import 'blocks/header';
@import 'blocks/promo';
